<div class="container mt-5">
  <div class="card">
    <div class="card-header bg-primary text-white">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Team: <%= @team.name %></h2>
        <div>
          <a class="btn btn-secondary" href="<%= team_tickets_path(team_id: @team.id) %>">Back to Team</a>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <p class="card-text"><strong>Assignee:</strong> <%= @ticket.assignee_name %></p>
          <p class="card-text"><strong>Reporter:</strong> <%= @ticket.creator.friendly_name %></p>
          <p class="card-text"><strong>Due date:</strong> <%= @ticket.due_date %> <%= @ticket.due_date < Date.today ? "&#128680;".html_safe : "" %></p>
          <p class="card-text"><strong>Priority:</strong> <%= @ticket.human_readable_priority %></p>
          <p class="card-text"><strong>Status:</strong> <%= @ticket.human_readable_status %></p>
          <a class="btn btn-primary" href="<%= ticket_edit_path(@ticket) %>">Edit</a>
        </div>
        <div class="col-md-8">
          <p class="card-text">
            <strong>Title</strong>
            <br /><%= @ticket.title %>
          </p>
          <p class="card-text">
            <strong>Description</strong>
            <br /><%= @ticket.description %>
          </p>
          <p class="card-text">
            <strong>Comments</strong>
            <ul class="list-group">
              <li class="list-group-item">
                <strong>John Doe:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean venenatis, ligula congue cursus sodales, nulla mi viverra ipsum, sit amet hendrerit turpis diam a neque. Praesent quis blandit elit.
              </li>
              <li class="list-group-item">
                <strong>Jane Smith:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean venenatis, ligula congue cursus sodales, nulla mi viverra ipsum, sit amet hendrerit turpis diam a neque. Praesent quis blandit elit.
              </li>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
